*{
    padding: 0px;
    margin: 0px;
}
.house img{
    margin-top: 20px;
    width: 210px;
    height: 100px;
}
.house div{
    /* color: red; */
    text-align: center;
    color: rgb(209, 215, 219);
}
span{
font: normal;
font-size: 12px;
    
}
.rice:hover{
    width: 240px;
    height: 120px;
    transition: width 1s;
  }