*{
    padding: 0px;
    margin: 0px;
}

.house img{
    margin-top: 20px;
    width: 210px;
    height: 100px;
}
.house div{
    /* color: red; */
    text-align: center;
    color: rgb(209, 215, 219);
}
span{
font: normal;
font-size: 12px;
    
}
@media screen and (max-width: 915px) {
    #img{
      display: none;
    }  
   
  }
  @media screen and (max-width: 915px) {
   #web{
     text-decoration: none;
     display: none;

   }
   
  }

 
  
  .rice{
    padding: 45px;
  }
 .scrollmenu{
    overflow:scroll;
    white-space: nowrap;
}
.scrollmenu .rice{
    display: inline-block;
    color: white;
    text-align: center;
    transition: all .4s ease-in-out;
}
.scrollmenu .rice:hover{
    transform: scale(1.5);
    margin: 2rem; 
}
  